@inject WindowStore WindowStore
@inject WindowMessageService WindowMessageService
@implements IDisposable

@if (visible)
{
	<div class="noselect window"
	 style=@($@"{CalculateY()};
	 {CalculateX()};
	 z-index: {WindowContainer.GetZIndex(this)};
	 {CalculateWidth()};
	 {CalculateHeight()}")
	 @onclick="SelectWindow">
		<div class="window-drag-bar"
		 draggable="true"
		 @ondrag="HandleDrag"
		 @ondragstart="HandleDragStart"
	     @ontouchstart="HandleTouchStart"
		 @ontouchmove="HandleTouchMove"
		 @ontouchend="HandleTouchEnd">
		</div>
		<div class="window-bar">
			<span>@Content.Name</span>
		</div>
		<div class="window-content">
			@if (Content is not null)
			{
				<DynamicComponent Type="@Content.type" Parameters="@Content.parameters" />
			}
		</div>
		<div class="window-icons">
			<i class="fas fa-window-minimize fa-lg" alt="Mimimize window" @onclick="@(MinimizeWindow)"></i>
			<i class="far @(maximized ? "fa-window-restore" : "fa-window-maximize") fa-lg" alt="Maximize window" @onclick="@(() => maximized = !maximized)"></i>
			<i class="fas fa-window-close fa-lg" alt="Close window button" @onclick="HandleClose"></i>
		</div>
		<div class="window-resize-y" 
			draggable="true" 
			@ondrag="@((DragEventArgs args) => ResizeWindow(args, resizeY: true, isStart: false))"
			@ontouchmove="TouchResizeY">
		</div>
		<div class="window-resize-x" 
			draggable="true" 
			@ondrag="@((DragEventArgs args) => ResizeWindow(args, resizeX: true, isStart: false))"
			@ontouchmove="TouchResizeX">
		</div>
		<div class="window-resize-y-min" 
			draggable="true" 
			@ondrag="@((DragEventArgs args) => ResizeWindow(args, resizeY: true, isStart: true))"
			@ontouchmove="TouchResizeYStart"></div>
		<div class="window-resize-x-min" 
			draggable="true" 
			@ondrag="@((DragEventArgs args) => ResizeWindow(args, resizeX: true, isStart: true))"
			@ontouchmove="TouchResizeXStart">
		</div>
		<div class="window-resize" 
			draggable="true" 
			@ondrag="HandleResizeXAndY"
			@ontouchmove="HandleResizeXAndYTouch"></div>
	</div>
}

