@page "/"
@implements IDisposable
@inject WindowStore WindowStore

<WindowContainer>
	@foreach (var window in WindowStore.WindowContents)
	{
		<Window Content="window" @key="window.Id" />
	}
</WindowContainer>

<div style="padding: 1rem;">
	<IconLink ContentType="typeof(CW)" Name="CV" 
		WindowStartMeasures="@(new WindowStartMeasures	{ Height = 600, Width = 600 })" />
	<IconLink ContentType="typeof(EducationCW)" Name="Education" 
		WindowStartMeasures="@(new WindowStartMeasures { Height = 600, Width = 600 })" />		
	<IconLink ContentType="typeof(AboutMe)" Name="About" 
		WindowStartMeasures="@(new WindowStartMeasures	{ Height = 600, Width = 400 })" />
	<IconLink ContentType="typeof(GamesFolder)" Name="Fun" Icon="fa-folder" />
	<IconLink ContentType="typeof(AppSettings)" Name="Settings" Icon="fa-list-alt"
		WindowStartMeasures="@(new WindowStartMeasures { Height = 500, Width = 400 })" />
	<IconLink ContentType="typeof(Help)" Name="Help" Icon="fa-question-circle" 
		WindowStartMeasures="@(new() { Height = 400, Width = 400 })"/>
</div>
<Logo />

@code {

	protected override void OnInitialized() => WindowStore.Subscribe(StateHasChanged);

	public void Dispose() => WindowStore.Unsubscribe(StateHasChanged);
}